.container {
    width: 100%;
    height: 800px;
}

.main-container {
    text-align: center;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-top: -625px;
    margin-left: 433px;
    box-sizing: border-box;
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
    box-shadow: 0px 0px 12px 2px;
    width: 639px;
    height: 500px;
    opacity: 0.4;
    letter-spacing: 0px;
}

.bg-image {
    background-image: url("./Image/𝑺𝒐𝒇𝒊𝒔𝒕𝒊𝒌𝒂𝒅𝒂\ on\ Twitter.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.body-text {
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: -535px;
}
.change-image{
    text-align: center;
    background-image: url("./Image/Cat\ Watching\ You\ GIF\ -\ Cat\ Watching\ You\ Cartoon\ -\ Discover\ &\ Share\ GIFs.gif");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: yellow 4px 3px 3px -1px;
    border-radius: 5px;
    margin-left: 695px;
    margin-top: 12px;
    width: 127px;
    height: 100px;
}

.heading {
    font-size: 55px;
    font-family: auto;
    margin-bottom: 30px;
    color: #ffff;
}

.login-in-button{
    margin-top: -10px;
    width: 17%;
    border-radius: 4px;
    height: 32px;
    color: #ffff;
    font-size: 18px;
    border: none;
    background-color: orange;
}
.login-in-button:hover {
    background-color: rgb(255, 119, 0);
    cursor: pointer;
    box-shadow: white 0px 0px 12px 2px ;
}
.input-text{
    margin-top: 10px;
    color: #ffff;
    font-size: 20px;
}
.form-control{
    width: 243px;
    height: 21px;
    text-align: center;
    border-radius: 16px;
    margin-top: 12px;
    font-size: 20px;
}
.sign-in-button{
    margin-top: 42px;
    font-size: 26px;
    color: white;
    background: repeating-linear-gradient(0deg, #128c06, #2616cc 46px);
    border: none;
    border-radius: 3px;
    width: 178px;
    height: 44px;
}
.sign-in-button:hover {
    background: repeating-linear-gradient(0deg, yellow,red 46px);
    cursor: pointer;
    box-shadow: white 0px 0px 12px 2px ;
}
@media(max-width: 600px) {
    .container {
        width: 100%;
        height: 850px;
    }
    
    .main-container {
        text-align: center;
        align-content: center;
        justify-content: center;
        position: relative;
        margin-top: -682px;
        margin-left: 24px;
        box-sizing: border-box;
        background-color: rgb(9, 9, 9);
        border-radius: 5px;
        box-shadow: 0px 0px 12px 2px;
        width: 350px;
        height: 500px;
        opacity: 0.4;
        letter-spacing: 0px;
    }
    
    .bg-image {
        background-image: url("./Image/Redmi\ K20\ Pro\ Wallpaper\ \(YTECHB\ Exclusive\).jfif");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    
    .body-text {
        position: relative;
        text-align: center;
        align-content: center;
        justify-content: center;
        margin-top: -535px;
    }
    .change-image{
        text-align: center;
        background-image: url("./Image/Cat\ Watching\ You\ GIF\ -\ Cat\ Watching\ You\ Cartoon\ -\ Discover\ &\ Share\ GIFs.gif");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: yellow 4px 3px 3px -1px;
        border-radius: 5px;
        margin-left: 145px;
        margin-top: 12px;
        width: 127px;
        height: 100px;
    }
    
    .heading {
        font-size: 45px;
        font-family: auto;
        margin-bottom: 30px;
        color: #ffff;
    }
    
    .login-in-button{
        margin-top: -10px;
        width: 36%;
        border-radius: 4px;
        height: 32px;
        color: #ffff;
        font-size: 11px;
        border: none;
        background-color: orange;
    }
    .login-in-button:hover {
        background-color: rgb(255, 119, 0);
        cursor: pointer;
        box-shadow: white 0px 0px 12px 2px ;
    }
    .input-text{
        margin-top: 10px;
        color: #ffff;
        font-size: 20px;
    }
    .form-control{
        width: 243px;
        height: 21px;
        text-align: center;
        border-radius: 16px;
        margin-top: 12px;
        font-size: 20px;
    }
    .sign-in-button{
        margin-top: 42px;
        font-size: 23px;
        color: white;
        background: repeating-linear-gradient(0deg, #128c06, #2616cc 46px);
        border: none;
        border-radius: 3px;
        width: 178px;
        height: 44px;
    }
    .sign-in-button:hover {
        background: repeating-linear-gradient(0deg, yellow,red 46px);
        cursor: pointer;
        box-shadow: white 0px 0px 12px 2px ;
    } 
}
